@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
:root {
--mycolor: #a28933;
--bg : #f5f5f5;
--menucolor: #c4c4c4;
--textcolor :#2b2b2b;
--linkcolor : #000000;
--myborder: #ff0000;
--actioncolor: #AC49B6;
}

body {
  background-color: var(--bg);
  color: var(--textcolor)

}

.theme-leah {
  --textcolor: #00ff00;
}
}
.general-light {

  font-family: 'EB Garamond', serif;
  border-top: 1px solid #ccc;
  
 
  min-height: 700px;
  
  @apply p-0 m-0 md:p-5 md:m-6 min-h-screen;
}

.thecolor{
  color:var(--mycolor);
}
.thebg{
  background-color:var(--mycolor);
}
.theborder{
  border-color:var(--mycolor);
}

/* Dark theme */
.general-dark {
  background-color: #333;
  color: #f8f8f8;
}

.nav-link {
  font-family: 'Bowlby One', sans-serif;
  @apply  text-slate-800 block  sm:text-xl;
}

.nav-link:hover {
  background-color: var(--mycolor);
  @apply underline;
}

.fbub {
  @apply rounded-lg p-4 flex flex-col rounded shadow-2xl relative  border-2;
}
.fbub:hover{
  @apply border-skin-border;
}
.tagrank {
  
  font-family: 'Futura', sans-serif;

}
.artblockstext{
  @apply text-slate-500 text-sm hover:text-slate-400;
}


.actionbutton {
  background-color: var(--actioncolor);
  
  @apply p-4  border-lime-100 border-4 text-white;
  
}

/* Add an animation that glows when hovered over */
.actionbutton:hover {
  box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.75);
}




.menuitem {
  @apply border-b-slate-500 border-r-slate-500 border;
}

.blogtitle {
  font-family:  'Bowlby One', sans-serif;
}
.textlink{
  color: var(--mycolor);
  @apply hover:text-yellow-300 underline hover:no-underline;
}