@tailwind base;

@tailwind components;

@tailwind utilities;

/* General styles */

/* Light theme */
.general-light {

  border-top: 1px solid #ccc;
  background-color: #fff;
  min-height: 700px;
  width: 85%;
  font-family: 'Arial', sans-serif;
  @apply p-5 m-6 min-h-screen;
}

/* Dark theme */
.general-dark {
  background-color: #333;
  color: #f8f8f8;
}

.nav-link {
  font-family: 'Bowlby One', sans-serif;
  @apply  text-slate-800 block py-2 px-4 text-center text-2xl;
}

.nav-link:hover {
  @apply bg-cyan-100 text-purple-400 underline;
}


.tagrank {
  
  font-family: 'Futura', sans-serif;

}
.artblockstext{
  @apply text-slate-500 text-sm hover:text-slate-400;
}
.namenavbutton{
  font-family: 'Arial', sans-serif;
  @apply text-xl p-2 m-1 bg-yellow-100 drop-shadow hover:bg-yellow-50 hover:text-slate-700 hover:drop-shadow-none;
}
.actionbutton{
  font-family: 'Arial', sans-serif;
  @apply p-2 m-1 text-xl bg-blue-100 border-orange-500 border drop-shadow-lg hover:bg-red-50 hover:text-slate-700 hover:drop-shadow-none;
}
.menuitem {
  @apply border-b-slate-500 border-r-slate-500 border;
}