body {
  margin: 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

h1 {
  margin: 8px 0;
  font-size: 1.3em;
  font-weight: 400;
}

h2 {
  color: #777;
  font-weight: 400;
}

h3 {
  color:black;
  font-size:32px;
  font-weight:300;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul, ol { 
  margin: 10px 20px; 
  padding: 0; 
  font-style: normal;  
  list-style-type: none; 
 
}

li {font-style: normal;
    list-style-type: none; 
    font-size: 1em;
   }

li a {
  float: left;
  margin: 0 0 4px 0;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover, button:hover {
  color: #f55176;
  background-color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.addbutton {
  margin: 15px 18px 5px -5px;
  padding: 10px 10px;
  border: 2px solid darkgreen;
  background-color: #eee;
  border-radius: 5px;
  width:100px;
  font-size: 17px;
  cursor: pointer;
}
.addbutton:hover {
  background-color: transparent;
  border: 2px solid #f55176;
  color: #f55176;
}

.smallerbutton {
  position:absolute;
  right:-186px;
  top: 85px;
  margin:0px;
  padding:5px 10px;
  width:90px;
  font-size: 13px;
}

nav img {
  height: 100%;
  width: auto;
}

.nav-light { 
  display: flex;
  position:fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 230px;
  padding: 20px 0;
  background-color: whitesmoke;
  color: black;
  -webkit-filter: drop-shadow(6px 6px 9px rgba(50,50,50,0.1));
}

.nav-dark {
  display: flex;
  position:fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 230px;
  padding: 17px 0;
  background-color:#303031;
  color: #efecec;
  -webkit-filter: drop-shadow(6px 6px 10px rgba(150,150,150,0.15));
}


.nav-light.lightHeader .logo img {
    width: 20%;
    height: auto;
    top: -10px;
  margin:0 40%;
	padding-left: 0px;
}

.nav-dark.darkHeader .logo img {
    filter: grayscale(1) invert(1);
    width: 20%;
    top: -10px;
	margin:0 40%;
  padding-left: 0px;
}


.nav-light.lightHeader {
    height: 140px;
    background-color: whitesmoke;
    font-size:85%;
}

.nav-dark.darkHeader {
    height: 140px;
    background: #333;
    font-size:85%;
}


header.entry-header {
    display:none;
}

.artcontainer-light {
  display: block;
  clear: both;
  position: relative;
  width: 100%;
  height:auto;
  margin: 10px 0 30px;
  padding: 25px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.artcontainer-dark {
  display: block;
  clear: both;
  position: relative;
  width: 100%;
  height:auto;
  margin: 10px 0 30px;
  padding: 25px;
  border-top: 1px solid #ccc;
  background-color: #303031;
}
.general-light {
  display: block;
  clear: both;
  position: relative;
  margin:300px auto 15px;
  padding:15px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  min-height: 700px;
  width: 85%;
}
.general-dark {
  display: block;
  clear: both;
  position: relative;
  margin:300px auto 15px;
  padding: 0;
  width: 85%;
  
  background-color: #303031;
  
  min-height: 700px;
  
  
}

.message-box {
  width: 370px;
  padding: 15px;
  background-color: #efecec;
  opacity: 0.92;
}
.message-box-content {
  padding: 15px;
  color: #4d4d4d;
  line-height: 1.3em;
}

.dropdown-light {
  background-color: gray;
  color: #fff;
  padding: .5rem;
  font-size: 1.5rem;
}

.dropdown-dark {
  background-color: darkblue;
  color: wheat;
  padding: .5rem;
  font-size: 1.5rem;
}
.header-nav {
  position: absolute; 
  right: 20px;
  top: 20px;
}

.logo {
  position: relative; 
  z-index: 1;
  margin: auto;
  width: 19%;
}
.logo img {
  width: 32%;
  height: auto;
  margin: 0 36%;
}
.tagline {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: .85em;
}
.name-m {
  display:none;
}
.tagline-m {
  display:none;
}
.buttonGroup {
  float: left;
}

button {
  margin: 0px;
  border: 0;
  padding: 5px;
  background-color: transparent;
  color: #555;
  font-family: 'Rubik', sans-serif;
}
button:hover {
  opacity: 0.85;
}

.votebutton{
  padding: 5px;
  background-color: transparent;
}

.votebutton:hover {
  background-color:transparent;
}

.buttonImage:hover {
  opacity: 0.8;
  rotate: 0deg;
}

img.buttonImage {
  height: 70px;
  width: 70px;
}

.footer-dark {
  background-color: #303031;
  display: flex;
}
.footer-light {
  background-color: #fff;
  display: flex;
}
 
.tagbar-light{
  display: block;
  clear: both;
  position: relative;
  min-height: 740px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  background-color: #00ff11;
}
.tagbar-dark{
  display: block;
  clear: both;
  position: relative;
  min-height: 740px;
  width: 65%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding: 10px auto 0;
  background-color: #222;
}
.tagtitle {
  font-size: 32px;
}
.tagrank {
  font-size: 64px;
  font-family: 'Futura', sans-serif;

}

.tagdescription{
  font-size: medium;
  float: top;
  align-items: center;
  align-content: center;
  align-self: center;
  text-decoration-line: underline;
  color: red;
  
}
.projectName{
  position: absolute;
  bottom: 0;
  float: left;
  margin: 10px 10px 0 0;
  font-size: 1em;
  text-align: left;
  color: #a76a1b;
}
.projectNumber{
  text-align: right;
  float: right;
  color: maroon; 
}

.art {
display:flex;
width: 100%;
height: auto;
margin: 20px 0 100px;
padding: 0;
border-bottom: 35px transparent solid;
object-fit: contain;
}
.art img {
  width: 100%;
  height:auto;
  margin-bottom: 20px;
}

.votebox {
  position: absolute;
  right: 25px;
  bottom:-5px;
  display:block;
  float:right;
  min-height: 130px;
  margin: 30px 0 10px 0;
}
.votebox p {
  text-align:left;
  margin-left:10px;
  letter-spacing:2px;
  text-transform: uppercase;
}  

.tagimage{
  float:bottom;
}
.newentry-light{
  background-color: #eee;
  color:#000;
}
.newentry-dark{
  background-color: #303031;
  color:#fff;
}

.newForm {
  background-color: purple;
  margin:20px auto;
  display: block;
  clear: both;
  position: relative;
  width: 80%;
}
.inputform {
  background-color: brown;
  margin:20px;
}

.entry-line {
  margin: 10px 0;
}

.bigtable-light{
  position:absolute;
  top:250px;
  padding: 0 17%;
  width:65vw;
  background-color: #fff;
  color: #303031;
  
}
.bigtable-dark{
  position:absolute;
  top:250px;
  padding: 0 17%;
   width:65vw;
  background-color: #303031;
  color: yellow;
}

.navelement {
  color: #777;
  font-size: 0.9em;
  height: 30px;
  margin: 10px 20px; 
  padding: 0; 
  position: absolute; 
  left: 40px;
  top: 10px;
}

.navelement p {
  padding-left: 5px;
}

.themebox{
  position: absolute; 
  right: 285px;
  top: 25px;
  width: 90px;
  height: auto;
  background-color: transparent;
  z-index: 10;
}

.themebox img {
   width: 100%;
  height: auto;
}
.themebox a:hover {
  background-color:transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menuToggle input {display: none;}



/* smalldesk  smalldesk    smalldesk  smalldesk    smalldesk  smalldesk     */
@media screen and (max-width: 1200px) { 

.smallerbutton {
  right:-145px;
  top: 90px;
}
  
.bigtable-light, .bigtable-dark {
  margin:0;
  padding: 0 10vw;
  width: 80vw;
}

.artcontainer-light {
  margin: 10px 0 20px;
  padding: 15px 0;
}
.artcontainer-dark {
  margin: 10px 0 20px;
  padding: 15px 0;

}
  
.art {
margin:20px auto 110px;}


.themebox{
  right: 240px;
  width: 80px;
}

}

/* tablet tablet    tablet tablet  tablet tablet  tablet tablet  */
@media screen and (max-width: 900px) { 

li a {
  font-size: 89%;
  line-height: 1.4em;
}  

.logo {
  margin-top: 0px;
  width: 39%;
}  
  
.nav-light, .nav-dark {
  height: 190px;
}
.navelement {
  left: 5px; 
  bottom: 5px;
  margin: 5px;
  max-width: 170px;
  font-size: 90%;
}

.name-m {
  display:inline;
  font-size: 95%;
  text-transform:uppercase;
}
.tagline-m {
  display:inline;
  font-size: 90%;
  text-transform:uppercase;
}

.themebox {
  position: fixed;
  right:90px;
  top: 20px;
}
  
.themebox img {
  width: 50px;
  height: 67px;
} 
.addbutton {
  margin: 15px 18px 5px -12px;
  padding: 9px 9px;
  font-size: 16px;
}
.smallerbutton {
  right:-86px;
  top: 55px;
  width: 52px !important;
  font-size: 15px;
}
  
.bigtable-light, .bigtable-dark {
  padding: 0 3vw;
  width: 93vw;
}


img.buttonImage {
  height: 65px;
  width: 65px;
}  
 
  
.menuToggle {
  display: block;
  position: absolute;
  top: 10px;
  right: 28px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */
  -webkit-touch-callout: none;
  		
}


.menuToggle span
{
 display: block;
    width: 38px;
    height: 2px;
    margin-bottom: 9px;
	border-bottom: 1px #9E9E9E solid;
    position: relative;
    background: #ddd;
    border-radius: 0px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
	-webkit-filter: drop-shadow(6px 6px 14px rgba(100,100,100,0.5));
	
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
  height:2px;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 4px);
  background: #666;
 width: 32px;
 height: 2px;
}


.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


.menuToggle input:checked ~ span:nth-last-child(2)
{
 /*
 * Ohy opacity: 1; */
  transform: rotate(-45deg) translate(0px, -1px);
}

 
.menu
{ position: absolute;
  width: 210px;
  margin: -100px -16px 0 0;
  padding: 60px 50px 60px 50px;
  padding-top: 84px;
  background-color: rgba(250,250,250,0.95);
 
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border: 0px solid #4d4d4d;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,0.9);
  -webkit-filter: drop-shadow(12px 12px 10px rgba(0,0,0,0.2));	
}

.menu li{
  padding: 7px 0;
  font-size: 102%;
  line-height: 1.2em;
}
  
.menu li a {
    text-decoration: none;
    text-align:left;
}
 
.menuToggle input:checked ~ ul
{
   transform: translate(0%, 0);
  opacity: 1;
  right:-20px;
}

.header-nav {
    position: fixed;
    left: 0;
    width: 100%;
    top: 20px;
    height: auto;
    z-index: 99;
}

.header-nav.darkHeader {
    background: #fff;
	-webkit-filter: drop-shadow(6px 6px 10px rgba(50,50,50,0.1));
}
.header-nav.lightHeader {
    background: #fff;
	-webkit-filter: drop-shadow(6px 6px 9px rgba(50,50,50,0.1));
}
li.stay-in {
    padding-top: 18px !important;
}


  
}



/* mobile mobile  mobile mobile  mobile mobile  mobile mobile */
@media screen and (max-width: 690px) { 

h2, label {
  padding-left:10px;
}
.logo {
  width: 50%;
}    
.nav-light.lightHeader {
    height: 130px;
    font-size:82%;
}

.nav-dark.darkHeader {
    height: 130px;
    font-size:82%;
}  


.menu li{
  font-size: 95%;
}
  
.navelement {
  font-size: 85%;
}   

.tagline-m {display:none;} 
.tagline {display:none;}

.themebox {
  right:70px;
  top: 20px;
} 
 .themebox img {
  width: 42px;
  height: 57px;
}  

.addbutton {
  margin-left:10px;
  width:52px;
}
.smallerbutton {
  right:-66px;
  top: 55px;
}
    
.bigtable-light, .bigtable-dark{
  padding: 0em;
  width: 100%;
}


.artcontainer-light, .artcontainer-dark {
  margin: 10px auto 25px; 
  width:95%;
  min-height:830px;
  padding: 15px;
}
  
  
.art {
width: 100%;
height: auto;
margin: 15px auto 30px;
}

.art img {
  margin-bottom: 20px;
}  

.projectName{
bottom: 140px;
left: 0px;
margin-top: 20px;
padding-left:20px;
}
.projectLink{

color:red;
}

.newForm {
  width:90%;
}
  
.votebox {
bottom: 5px;
left: 0px;
margin: 20px 0 0px 0;
padding-left:20px;
background-color: transparent;  
}
.votebox p {
  font-size: 90%;
}  
img.buttonImage {
  height: 60px;
  width: 60px;
}
  
}